* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #E5E5FD;
    max-width: 900px;
    margin: 0 auto;
    margin-top: 100px;
    
}

.person { 
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 100px;
}

.person-image, img{
    height: 350px;
    width: 325px;
    border-radius: 50%;
    overflow: hidden;
}

.person-name {
    display: flex;
    
    text-transform: uppercase;
    color: navy;
    font-size: 30px;
    font-weight: 1000;
}

.person-name #data {
    display: flex;
    flex-direction: column-reverse;
}

.main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main #tlt {
    display: flex;
    align-self: flex-start;
    margin-bottom: 25px;
    font-size: 75px;
    font-weight: 100;
}

.main #text {
    font-size: 20px;
    margin-bottom: 50px;
    letter-spacing: 1.7px;
}

.bio {

}
