@font-face {
    font-family: Android;
    src: url(./fontes/idroid.otf) format(opentype)
    ;
}

body {
    background: #84e1ad;
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    background: linear-gradient(#3cdb84, #1a5c38);
}


.header-content {
    text-align: center;
    font-size: 1.8em;
    color: white;
    padding: 1px;
    text-shadow: 2px 1px rgba(0, 0, 0, 0.568);
}

.header-content h1 {
    display: flex;
    align-items: center;
}

header nav {
    padding-bottom: 15px;
}

header nav ul li{
    display: inline;
    margin-left: 30px;
    font-size: 1.2em;
    
}

header nav ul li a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

main {
    background: white;
    max-width: 1300px;
    margin: auto;
    padding-top: 1px;
    font-size: 2em;
}

main section article h1 {

    font-size: 1.8em;
    margin-left: 50px;
    border: 50px;
    border-color: white;
}

#android1 {
    font-family: Android;
}

#android2 {
    font-family: Android;
    background: linear-gradient(to right, #c4ebd5, white);
}

#android3 {
    font-family: Android;
    background: linear-gradient(to right, #c4ebd5, white);
}

.main-content-text {
    text-align: justify;
    margin-left: 50px;
    margin-right: 50px;
}

#last-text {
    padding-bottom: 50px;
    margin-bottom: 0px;
}

article {
    margin-bottom: 50px;
}

article .img-droids {
    margin-left: 50px;
    margin-right: 50px;
    height: 400px;
}

article .img-irina {
    margin-left: 50px;
    margin-right: 50px;
    height: 355px;
}

article .img-bugdroid {
    padding-left: 500px;
}

#video {
    height: 820px;
    background-color: green;
}

#video #video-video {
    margin: 50px;
    max-width: 1500px;
}

.final div {
    background: #c5ebd6;
    margin: 0px 50px 50px 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 0 0 10px 10px;
}

.final h2{
    color: white;
    text-align: center;
    font-size: 1.2em;
    background: #2fa866;
    border-radius: 10px 10px 0 0;
    margin-bottom: 0;
    padding: 20px;
}

.listas {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
}

footer {
    background-color: green;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer p {
    font-weight: 900;
    color: white;
}

span {
    color: green
}
   